<jhi-alert-error></jhi-alert-error>
<div ng-class="vm.game.platform.platform.indexOf('Playstation') != -1 ?
                 'panel panel-primary' : vm.game.platform.platform.indexOf('Xbox') != -1 ? 'panel panel-success' : 'panel panel-warning'">

<div class="panel-heading">
        <h3 align="center">{{vm.game.title}} ({{vm.game.yearOfProduction}})</h3>
    </div>
    <div class="panel-body">
        <div class="col-lg-4">
            <a ng-if="vm.game.coverImage"
               ng-click="vm.openFile(vm.game.coverImageContentType, vm.game.coverImage)" class="thumbnail">
                <img
                    data-ng-src="{{'data:' + vm.game.coverImageContentType + ';base64,' + vm.game.coverImage}}"/>
            </a>
            <a ng-if="!vm.game.coverImage" class="thumbnail">
                <img src="/content/images/hipster.png">
            </a>
        </div>
        <div class="col-lg-8">
            <dl class="dl-horizontal jh-entity-details">
                <dt><span>Title:</span></dt>
                <dd>
                    <span>{{vm.game.title}}</span>
                </dd>
                <dt><span>Producer:</span></dt>
                <dd>
                    <span>{{vm.game.producer}}</span>
                </dd>
                <dt><span>Description:</span></dt>
                <dd>
                    <span>{{vm.game.description}}</span>
                </dd>
                <dt><span>Game type:</span></dt>
                <dd>
                    <span>{{vm.game.gameType.gameType}}</span>
                </dd>
                <dt><span>Platform :</span></dt>
                <dd>
                    <span>{{vm.game.platform.platform}}</span>
                </dd>
            </dl>
            <div class="text-center">
            <button type="submit"
                    ui-sref="{{ vm.previousState }}"
                    class="btn btn-info">
                <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
            </button>

            <button type="button" ui-sref="game-detail.edit({id:vm.game.id})" class="btn btn-primary"
                    has-authority="ROLE_ADMIN">
                <span class="glyphicon glyphicon-pencil"></span>
                <span class="hidden-xs hidden-sm"> Edit</span>
            </button>

            <button type="submit"
                    ui-sref="game.delete({id:vm.game.id})"
                    class="btn btn-danger"
                    has-authority="ROLE_ADMIN">
                <span class="glyphicon glyphicon-remove-circle"></span>
                <span class="hidden-xs hidden-sm">Delete it</span>
            </button>
            <button type="submit"
                    ng-click="vm.addToWishList(vm.game.id)"
                    class="btn btn-success">
                <span class="glyphicon glyphicon-plus"></span>
                <span class="hidden-xs hidden-sm">Want it!</span>
            </button>
            </div>
        </div>
    </div>
</div>
