<div>
    <h2>Games</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div style="padding: 20px 0 20px 0">
                <button class="btn btn-primary" ui-sref="game.new" has-authority="ROLE_ADMIN">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs">
                        Create new Game
                    </span>
                </button>
            </div>
            <div>
                <form name="searchForm" class="form-inline">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery"
                               placeholder="Try to find games">
                        <span class="input-group-btn width-min">
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
            <br/>
        </div>
        <div infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
            <div class="col-lg-6" ng-repeat="game in vm.games track by game.id">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <p class="text-center">{{game.title}} ({{game.yearOfProduction}})</p>
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-4">
                            <a ng-if="game.coverImage"
                               ng-click="vm.openFile(game.coverImageContentType, game.coverImage)" class="thumbnail">
                                <img
                                    data-ng-src="{{'data:' + game.coverImageContentType + ';base64,' + game.coverImage}}"/>
                            </a>
                            <a ng-if="!game.coverImage" class="thumbnail">
                                <img src="/content/images/hipster.png">
                            </a>
                        </div>
                        <div class="col-lg-8">
                            <p ng-class="game.platform.platform.indexOf('Playstation') != -1 ?
                 'label label-primary' : game.platform.platform.indexOf('Xbox') != -1 ? 'label label-success' : 'label label-warning'">Title : {{game.title}}</p></br>
                            <p ng-class="game.platform.platform.indexOf('Playstation') != -1 ?
                 'label label-primary' : game.platform.platform.indexOf('Xbox') != -1 ? 'label label-success' : 'label label-warning'">Producer: {{game.producer}}</p></br>
                            <p ng-class="game.platform.platform.indexOf('Playstation') != -1 ?
                 'label label-primary' : game.platform.platform.indexOf('Xbox') != -1 ? 'label label-success' : 'label label-warning'">Game type: {{game.gameType.gameType}}</p></br>
                            <p ng-class="game.platform.platform.indexOf('Playstation') != -1 ?
                 'label label-primary' : game.platform.platform.indexOf('Xbox') != -1 ? 'label label-success' : 'label label-warning'">
                            Platform : {{game.platform.platform}}
                            </p></br></br>


                            <div class="btn-group flex-btn-group-container">
                                <button type="submit"
                                        ui-sref="game-detail({id:game.id})"
                                        class="btn btn-info btn-sm">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                    <span class="hidden-xs hidden-sm">Show more</span>
                                </button>
                                <button type="submit"
                                        ui-sref="game.edit({id:game.id})"
                                        class="btn btn-primary btn-sm"
                                        has-authority="ROLE_ADMIN">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                    <span class="hidden-xs hidden-sm">Edit</span>
                                </button>
                                <button type="submit"
                                        ui-sref="game.delete({id:game.id})"
                                        class="btn btn-danger btn-sm"
                                        has-authority="ROLE_ADMIN">
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                    <span class="hidden-xs hidden-sm">Delete</span>
                                </button>
                                <button type="submit"
                                        ui-sref="game-detail({id:game.id})"
                                        class="btn btn-warning btn-sm">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    <span>Want it!</span>
                                    <span class="hidden-xs hidden-sm"></span>
                                </button>
                            </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
