<div>
    <h2>Games</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="game.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs" >
                        Create new Game
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="Query">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="title"><span>Title</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="producer"><span>Producer</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="yearOfProduction"><span>Year Of Production</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span>Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="coverImage"><span>Cover Image</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="timestamp"><span>Timestamp</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="blockade"><span>Blockade</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="gameType.id"><span>Game Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="platform.id"><span>Platform</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="game in vm.games track by game.id">
                    <td><a ui-sref="game-detail({id:game.id})">{{game.id}}</a></td>
                    <td>{{game.title}}</td>
                    <td>{{game.producer}}</td>
                    <td>{{game.yearOfProduction}}</td>
                    <td>{{game.description}}</td>
                    <td>
                        <a ng-if="game.coverImage" ng-click="vm.openFile(game.coverImageContentType, game.coverImage)">
                            <img data-ng-src="{{'data:' + game.coverImageContentType + ';base64,' + game.coverImage}}" style="max-height: 30px;"/>
                        </a>
                        <span ng-if="game.coverImage">{{game.coverImageContentType}}, {{vm.byteSize(game.coverImage)}}</span>
                    </td>
                    <td>{{game.timestamp | date:'medium'}}</td>
                    <td>{{game.blockade}}</td>
                    <td>
                        <a ui-sref="game-type-detail({id:game.gameType.id})">{{game.gameType.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="platform-detail({id:game.platform.id})">{{game.platform.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="game-detail({id:game.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="game.edit({id:game.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="game.delete({id:game.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
