<div>
    <h2>Gry</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div style="padding: 20px 0 20px 0">
                <button class="btn btn-primary" ui-sref="game.new" has-authority="ROLE_ADMIN">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs">
                        Dodaj nową grę
                    </span>
                </button>
            </div>
            <div>
                <form name="searchForm" class="form-inline">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery"
                               placeholder="Znajdź grę">
                        <span class="input-group-btn width-min">
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
            <br/>
        </div>
        <div infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
            <div class="row">
            <div class="col-lg-6" ng-repeat="game in vm.games track by game.id">
                <div ng-class="game.platform.platform.indexOf('Playstation') != -1 ?
                 'panel panel-info' : game.platform.platform.indexOf('Xbox') != -1 ? 'panel panel-success' : 'panel panel-primary'">
                    <div class="panel-heading">
                        <p class="text-center">{{game.title}} ({{game.yearOfProduction}})</p>
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-4">
                            <a ng-if="game.coverImage"
                               ng-click="vm.openFile(game.coverImageContentType, game.coverImage)" class="thumbnail">
                                <img
                                    data-ng-src="{{'data:' + game.coverImageContentType + ';base64,' + game.coverImage}}"/>
                            </a>
                            <a ng-if="!game.coverImage" class="thumbnail">
                                <img src="/content/images/hipster.png">
                            </a>
                        </div>
                        <div class="col-lg-8">
                            <p ng-class="game.platform.platform.indexOf('Playstation') != -1 ?
                 'label label-info' : game.platform.platform.indexOf('Xbox') != -1 ? 'label label-success' : 'label label-primary'">
                                Tytuł : {{game.title}}</p></br>
                            <p ng-class="game.platform.platform.indexOf('Playstation') != -1 ?
                 'label label-info' : game.platform.platform.indexOf('Xbox') != -1 ? 'label label-success' : 'label label-primary'">
                                Producent: {{game.producer}}</p></br>
                            <p ng-class="game.platform.platform.indexOf('Playstation') != -1 ?
                 'label label-info' : game.platform.platform.indexOf('Xbox') != -1 ? 'label label-success' : 'label label-primary'">
                                Rodzaj gry: {{game.gameType.gameType}}</p></br>
                            <p ng-class="game.platform.platform.indexOf('Playstation') != -1 ?
                 'label label-info' : game.platform.platform.indexOf('Xbox') != -1 ? 'label label-success' : 'label label-primary'">
                                Platforma : {{game.platform.platform}}
                            </p></br></br>

                            <div class="row">
                                <br/>
                                <br/>
                                <br/>
                                <br/>
                                <div class="col-md-12">
                                <div class="btn-group flex-btn-group-container">
                                    <button type="submit"
                                            ui-sref="game-detail({id:game.id})"
                                            class="btn btn-info btn-sm">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                        <span class="hidden-xs hidden-sm">Pokaż więcej</span>
                                    </button>
                                    <button type="submit"
                                            ui-sref="game.edit({id:game.id})"
                                            class="btn btn-primary btn-sm"
                                            has-authority="ROLE_ADMIN">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                        <span class="hidden-xs hidden-sm">Edytuj</span>
                                    </button>
                                    <button type="submit"
                                            ng-click="vm.addToWishList(game.id)"
                                            class="btn btn-success btn-sm">
                                        <span class="glyphicon glyphicon-plus"></span>
                                        <span></span>
                                        <span class="hidden-xs hidden-sm">Dodaj do poszukiwanych</span>
                                    </button>
                                </div>
                                </div>
                            </div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
