<div class="panel panel-primary">
    <div class="panel panel-heading"><h3 align="center">Wishlist</h3></div>
    <div class="panel panel-body">
        <div class="table-responsive">
            <table class="jh-table table table-striped">
                <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="title"><span>Title</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="producer"><span>Producer</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="yearOfProduction"><span>Year Of Production</span> <span
                        class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="gameType.id"><span>Game Type</span> <span class="glyphicon glyphicon-sort"></span>
                    </th>
                    <th jh-sort-by="platform.id"><span>Platform</span> <span class="glyphicon glyphicon-sort"></span>
                    </th>
                    <th></th>
                </tr>
                </thead>
                <tbody infinite-scroll="vm.loadPage(vm.page + 1)"
                       infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="game in vm.wishlist track by game.id">
                    <td>
                        <button type="submit"
                                ui-sref="game-detail({id:game.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open">  {{game.id}}</span>
                            <span class="hidden-xs hidden-sm"></span>
                        </button>
                        <button type="submit"
                                ng-click="vm.removeGameFromWishlist(game.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove">  {{game.id}}</span>
                            <span class="hidden-xs hidden-sm"></span>
                        </button>
                    </td>
                    <td>{{game.title}}</td>
                    <td>{{game.producer}}</td>
                    <td>{{game.yearOfProduction}}</td>
                    <td>
                        {{game.gameType.gameType}}
                    </td>
                    <td>
                        {{game.platform.platform}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
