<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 align="center">Oferty zakończone przez użytkownika</h4>
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal jh-entity-details"
                    ng-repeat="marketOffer in vm.marketOffersEndByUser track by marketOffer.id">
                    <dt ng-hide="marketOffer.endDate == null"><span>Data zakończenia</span></dt>
                    <dd ng-hide="marketOffer.endDate == null">
                        <span>{{marketOffer.endDate | date:'MM/dd/yyyy hh:mm'}}</span>
                    </dd>
                    <dt><span>Typ oferty</span></dt>
                    <dd>
                        <span ng-show="marketOffer.offerType == 'SELL'"> Sprzedaż</span>
                        <span ng-show="marketOffer.offerType == 'BUY'" > Kupno</span>
                        <span ng-show="marketOffer.offerType == 'EXCHANGE'"> Wymiana</span>
                    </dd>
                    <dt ng-hide="marketOffer.price == 0"><span>Cena</span></dt>
                    <dd ng-hide="marketOffer.price == 0">
                        <span>{{marketOffer.price}} zł</span>
                    </dd>
                    <dt ng-hide="marketOffer.price == 0"><span>Koszt wysyłki</span></dt>
                    <dd ng-hide="marketOffer.price == 0">
                        <span>{{marketOffer.shippingCost}} zł</span>
                    </dd>
                    <dt><span>Gra</span></dt>
                    <dd>
                        <a ui-sref="game-detail({id:vm.marketOffer.game.id})">
                            {{marketOffer.game.title + " (" + marketOffer.game.platform.platform + ") (" +
                            marketOffer.game.yearOfProduction + ")"}}
                        </a>
                    </dd>
                    <dt><span>Nabywca</span></dt>
                    <dd>
                        <a ui-sref="gamer-profile-detail({id:vm.marketOffer.endOfferProfile.id})">{{marketOffer.endOfferProfile.name}}({{marketOffer.endOfferProfile.firstName + " " + marketOffer.endOfferProfile.surname}})</a>
                    </dd>
                    <dt><span>Nabywca</span></dt>
                    <dd>
                        <span>{{marketOffer.endOfferProfile.adress.city}}</span>
                        <span>{{marketOffer.endOfferProfile.adress.streetName}}</span>
                        <span>{{marketOffer.endOfferProfile.adress.houseNo}}</span>
                        <span>{{marketOffer.endOfferProfile.adress.zipCode}}</span>
                    </dd>
                </dl>


            </div>
        </div>
    </div>


    <div class="col-lg-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 align="center">Moje zakończone oferty</h4>
            </div>
            <div class="panel-body" ng-repeat="marketOffer in vm.endedMarketOffers track by marketOffer.id">
                <dl class="dl-horizontal jh-entity-details"
                    >
                    <dt ng-hide="marketOffer.endDate == null"><span>Data zakończenia</span></dt>
                    <dd ng-hide="marketOffer.endDate == null">
                        <span>{{marketOffer.endDate | date:'MM/dd/yyyy hh:mm'}}</span>
                    </dd>
                    <dt><span>Typ oferty</span></dt>
                    <dd>
                        <span ng-show="marketOffer.offerType == 'SELL'"> Sprzedaż</span>
                        <span ng-show="marketOffer.offerType == 'BUY'" > Kupno</span>
                        <span ng-show="marketOffer.offerType == 'EXCHANGE'"> Wymiana</span>
                    </dd>
                    <dt ng-hide="marketOffer.price == 0"><span>Cena</span></dt>
                    <dd ng-hide="marketOffer.price == 0">
                        <span>{{marketOffer.price}} zł</span>
                    </dd>
                    <dt ng-hide="marketOffer.price == 0"><span>Koszt wysyłki</span></dt>
                    <dd ng-hide="marketOffer.price == 0">
                        <span>{{marketOffer.shippingCost}} zł</span>
                    </dd>
                    <dt><span>Gra</span></dt>
                    <dd>
                        <a ui-sref="game-detail({id:vm.marketOffer.game.id})">
                            {{marketOffer.game.title + " (" + marketOffer.game.platform.platform + ") (" +
                            marketOffer.game.yearOfProduction + ")"}}
                        </a>
                    </dd>
                    <dt><span>Nabywca</span></dt>
                    <dd>
                        <a ui-sref="gamer-profile-detail({id:vm.marketOffer.endOfferProfile.id})">{{marketOffer.endOfferProfile.name}}</a>
                    </dd>
                    <dt><span>Adres nabywcy</span></dt>
                    <dd>
                        <span>{{marketOffer.endOfferProfile.adress.city}}</span>
                        <span>{{marketOffer.endOfferProfile.adress.streetName}}</span>
                        <span>{{marketOffer.endOfferProfile.adress.houseNo}}</span>
                        <span>{{marketOffer.endOfferProfile.adress.zipCode}}</span>
                    </dd>
                </dl>
                <div class="panel panel-heading">
                    <button ng-hide="
                    marketOffer.comments[0].authorProfile.name == vm.account.login || marketOffer.comments[1].authorProfile.name == vm.account.login"
                            ui-sref="comment.new({id:marketOffer.id})"
                    class="btn btn-success btn-sm">
                        <span class="glyphicon glyphicon-plus"></span>
                        <span>Dodaj komentarz</span>
                    </button>
                    <button type="button"
                            class="btn btn-info btn-sm"
                            ng-click="vm.sendMessage(marketOffer.createProfile.id)">
                        <span class="glyphicon glyphicon-envelope"></span>
                        <span class="">Wyślij wiadomość</span>
                    </button>
                    <button type="submit"
                            ui-sref="market-offer-detail({id:marketOffer.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>
                        <span class="">Pokaż więcej</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
