
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myMarketOfferLabel">Stwórz ofertę</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.marketOffer.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.marketOffer.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_offerType">Typ oferty</label>
            <select class="form-control" name="offerType" ng-model="vm.marketOffer.offerType" id="field_offerType" required>
                <option value="SELL">Sprzedaż</option>
                <option value="BUY">Kupno</option>
                <option value="EXCHANGE">Wymiana</option>
            </select>
            <div ng-show="editForm.offerType.$invalid">
                <p class="help-block"
                    ng-show="editForm.offerType.$error.required">
                    Pole wymagane.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_price">Cena</label>
            <input type="number" class="form-control" name="price" id="field_price"
                    ng-model="vm.marketOffer.price"
                    required min="0" max="1000" />
            <div ng-show="editForm.price.$invalid">
                <p class="help-block"
                    ng-show="editForm.price.$error.required">
                    Pole wymagane.
                </p>
                <p class="help-block"
                    ng-show="editForm.price.$error.min" translate-value-min="0">
                    Wartość musi być powyżej 0
                </p>
                <p class="help-block"
                    ng-show="editForm.price.$error.max">
                    Wartość musi być poniżej 1000.
                </p>
                <p class="help-block"
                    ng-show="editForm.price.$error.number">
                    Wartość musi być liczbą.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_description">Krótki opis</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.marketOffer.description"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_gameState">Stan gry</label>
            <select class="form-control" name="gameState" ng-model="vm.marketOffer.gameState" id="field_gameState" required>
                <option value="NEW">Nowa</option>
                <option value="USED">Używana</option>
            </select>
            <div ng-show="editForm.gameState.$invalid">
                <p class="help-block"
                   ng-show="editForm.gameState.$error.required">
                    Pole wymagane
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_shippingCost">Koszt wysyłki</label>
            <input type="number" class="form-control" name="shippingCost" id="field_shippingCost"
                    ng-model="vm.marketOffer.shippingCost"
                    min="0" />
            <div ng-show="editForm.shippingCost.$invalid">
                <p class="help-block"
                    ng-show="editForm.shippingCost.$error.min" translate-value-min="0">
                    Pole musi być większe od 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.shippingCost.$error.number">
                    Pole musi być numerem.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_game">Gra</label>
            <select class="form-control" id="field_game" name="game" ng-model="vm.marketOffer.game" ng-options="game as (game.title + ' (' + game.platform.platform + ' ' + game.yearOfProduction + ')' ) for game in vm.games | orderBy:'name' track by game.title" required>
                <option value=""></option>
            </select>
            <div ng-show="editForm.game.$invalid">
                <p class="help-block"
                   ng-show="editForm.game.$error.required">
                    Pole wymagane
                </p>
            </div>
        </div>
        <div class="form-group" has-authority="ROLE_ADMIN">
            <label for="field_endOfferProfile">End Offer Profile</label>
            <select class="form-control" id="field_endOfferProfile" name="endOfferProfile" ng-model="vm.marketOffer.endOfferProfile" ng-options="gamerProfile as gamerProfile.name for gamerProfile in vm.endofferprofiles | orderBy:'name' track by gamerProfile.name">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group" has-authority="ROLE_ADMIN">
            <label for="field_createProfile">Create Profile</label>
            <select class="form-control" id="field_createProfile" name="createProfile" ng-model="vm.marketOffer.createProfile" ng-options="gamerProfile as gamerProfile.name for gamerProfile in vm.gamerprofiles track by gamerProfile.name">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cofnij</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-success">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Stwórz!</span>
        </button>
    </div>
</form>
