
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myMarketOfferLabel">Create or edit a Market Offer</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.marketOffer.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.marketOffer.id" readonly />
        </div>
        <!--<div class="form-group">-->
            <!--<label class="control-label" for="field_createDate">Create Date</label>-->
                <!--<div class="input-group">-->
                    <!--<input id="field_createDate" type="text" class="form-control" name="createDate" datetime-picker="{{dateformat}}" ng-model="vm.marketOffer.createDate" is-open="vm.datePickerOpenStatus.createDate"-->
                    <!--required  />-->
                    <!--<span class="input-group-btn">-->
                        <!--<button type="button" class="btn btn-default" ng-click="vm.openCalendar('createDate')"><i class="glyphicon glyphicon-calendar"></i></button>-->
                    <!--</span>-->
                <!--</div>-->
            <!--<div ng-show="editForm.createDate.$invalid">-->
                <!--<p class="help-block"-->
                    <!--ng-show="editForm.createDate.$error.required">-->
                    <!--This field is required.-->
                <!--</p>-->
                <!--<p class="help-block"-->
                    <!--ng-show="editForm.createDate.$error.ZonedDateTimelocal">-->
                    <!--This field should be a date and time.-->
                <!--</p>-->
            <!--</div>-->
        <!--</div>-->
        <div class="form-group" has-authority="ROLE_ADMIN">
            <label class="control-label" for="field_endDate">End Date</label>
                <div class="input-group">
                    <input id="field_endDate" type="text" class="form-control" name="endDate" datetime-picker="{{dateformat}}" ng-model="vm.marketOffer.endDate" is-open="vm.datePickerOpenStatus.endDate"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('endDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_offerType">Offer Type</label>
            <select class="form-control" name="offerType" ng-model="vm.marketOffer.offerType" id="field_offerType" required>
                <option value="SELL">SELL</option>
                <option value="BUY">BUY</option>
                <option value="EXCHANGE">EXCHANGE</option>
            </select>
            <div ng-show="editForm.offerType.$invalid">
                <p class="help-block"
                    ng-show="editForm.offerType.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_price">Price</label>
            <input type="number" class="form-control" name="price" id="field_price"
                    ng-model="vm.marketOffer.price"
                    required min="0" max="1000" />
            <div ng-show="editForm.price.$invalid">
                <p class="help-block"
                    ng-show="editForm.price.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.price.$error.min" translate-value-min="0">
                    This field should be more than 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.price.$error.max">
                    This field cannot be more than 1000.
                </p>
                <p class="help-block"
                    ng-show="editForm.price.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group" has-authority="ROLE_ADMIN">
            <label class="control-label" for="field_offerStatus">Offer Status</label>
            <select class="form-control" name="offerStatus" ng-model="vm.marketOffer.offerStatus" id="field_offerStatus">
                <option value="NEW">NEW</option>
                <option value="ENDED">ENDED</option>
                <option value="CANCELLED">CANCELLED</option>
            </select>
            <!--<div ng-show="editForm.offerStatus.$invalid">-->
                <!--<p class="help-block"-->
                    <!--ng-show="editForm.offerStatus.$error.required">-->
                    <!--This field is required.-->
                <!--</p>-->
            <!--</div>-->
        </div>
        <div class="form-group">
            <label class="control-label" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.marketOffer.description"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_gameState">Game State</label>
            <select class="form-control" name="gameState" ng-model="vm.marketOffer.gameState" id="field_gameState">
                <option value="NEW">NEW</option>
                <option value="USED">USED</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_shippingCost">Shipping Cost</label>
            <input type="number" class="form-control" name="shippingCost" id="field_shippingCost"
                    ng-model="vm.marketOffer.shippingCost"
                    min="0" />
            <div ng-show="editForm.shippingCost.$invalid">
                <p class="help-block"
                    ng-show="editForm.shippingCost.$error.min" translate-value-min="0">
                    This field should be more than 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.shippingCost.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_game">Game</label>
            <select class="form-control" id="field_game" name="game" ng-model="vm.marketOffer.game" ng-options="game as (game.title + ' (' + game.platform.platform + ' ' + game.yearOfProduction + ')' ) for game in vm.games | orderBy:'name' track by game.title">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group" has-authority="ROLE_ADMIN">
            <label for="field_endOfferProfile">End Offer Profile</label>
            <select class="form-control" id="field_endOfferProfile" name="endOfferProfile" ng-model="vm.marketOffer.endOfferProfile" ng-options="gamerProfile as gamerProfile.name for gamerProfile in vm.endofferprofiles | orderBy:'name' track by gamerProfile.name">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group" has-authority="ROLE_ADMIN">
            <label for="field_createProfile">Create Profile</label>
            <select class="form-control" id="field_createProfile" name="createProfile" ng-model="vm.marketOffer.createProfile" ng-options="gamerProfile as gamerProfile.name for gamerProfile in vm.gamerprofiles track by gamerProfile.name">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
