<div>
    <h2>Market ofert</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="market-offer.new">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs">
                        Stwórz nową ofertę
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right">
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery"
                               placeholder="Wyszukaj">
                        <span class="input-group-btn width-min">
                            <button class="btn btn-success" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-warning" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                <th jh-sort-by="createDate"><span>Data stworzenia</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="price"><span>Cena</span> <span class="glyphicon glyphicon-sort"></span></th>
            </tr>
            </thead>
        </table>
        <div infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
            <div ng-repeat="marketOffer in vm.marketOffers track by marketOffer.id">
                <div ng-class="marketOffer.game.platform.platform.indexOf('Playstation') != -1 ?
                 'panel panel-info' : marketOffer.game.platform.platform.indexOf('Xbox') != -1 ? 'panel panel-success' : 'panel panel-primary'">
                    <div class="panel-heading">
                        <h3 class="text-center">{{marketOffer.game.title}} ({{marketOffer.game.yearOfProduction}})
                            ({{marketOffer.game.platform.platform}})</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-4" align="center">
                                <a ng-if="marketOffer.game.coverImage"
                                   ng-click="vm.openFile(marketOffer.game.coverImageContentType, marketOffer.game.coverImage)">
                                <img
                                    data-ng-src=" {{'data:' + marketOffer.game.coverImageContentType + ';base64,' +
                                marketOffer.game.coverImage}}" style="height: 300px; width: 200px;"/>
                                </a>
                                <a ng-if="!marketOffer.game.coverImage" class="thumbnail" style="height: 160px;width: 120px;">
                                    <img src="/content/images/hipster.png">
                                </a>
                            </div>
                            <div class="col-lg-4" align="center">
                                <h2> Gra</h2>
                                <p ng-class="marketOffer.game.platform.platform.indexOf('Playstation') != -1 ?
                 'label label-info' : marketOffer.game.platform.platform.indexOf('Xbox') != -1 ? 'label label-success' : 'label label-primary'">
                                    Tytuł : {{marketOffer.game.title}}</p><br/>
                                <p ng-class="marketOffer.game.platform.platform.indexOf('Playstation') != -1 ?
                 'label label-info' : marketOffer.game.platform.platform.indexOf('Xbox') != -1 ? 'label label-success' : 'label label-primary'">
                                    Producent: {{marketOffer.game.producer}}</p><br/>
                                <p ng-class="marketOffer.game.platform.platform.indexOf('Playstation') != -1 ?
                 'label label-info' : marketOffer.game.platform.platform.indexOf('Xbox') != -1 ? 'label label-success' : 'label label-primary'">
                                    Typ gry: {{marketOffer.game.gameType.gameType}}</p><br/>
                                <p ng-class="marketOffer.game.platform.platform.indexOf('Playstation') != -1 ?
                 'label label-info' : marketOffer.game.platform.platform.indexOf('Xbox') != -1 ? 'label label-success' : 'label label-primary'">
                                    Platforma : {{marketOffer.game.platform.platform}}
                                </p>
                            </div>
                            <div class="col-lg-4" align="center">
                                <h2>Oferta</h2>
                                <p class="label label-primary"
                                   ng-bind="marketOffer.createDate | date:'MM/dd/yyyy hh:mm'">
                                    {{marketOffer.createDate}}</p><br/>
                                <p ng-show="marketOffer.offerType == 'SELL'" class="label label-primary">Typ oferty: Sprzedaż</p>
                                <p ng-show="marketOffer.offerType == 'BUY'" class="label label-primary">Typ oferty: Kupno</p>
                                <p ng-show="marketOffer.offerType == 'EXCHANGE'" class="label label-primary">Typ oferty: Wymiana</p>
                                <br/>
                                <p class="label label-primary" ng-hide="marketOffer.price == 0">Cena:
                                    {{marketOffer.price}}</p><br/>
                                <p class="label label-primary" ng-show="marketOffer.gameState == 'NEW'">Stan gry: Nowa</p>
                                <p class="label label-primary" ng-show="marketOffer.gameState == 'USED'">Stan gry: Używana</p>
                                <br/>
                                <p class="label label-primary"><a
                                    ui-sref="gamer-profile-detail({id:marketOffer.createProfile.id})">Profil: {{marketOffer.createProfile.name}}</a>
                                </p><br/>
                                <p class="label label-primary">Miasto: {{marketOffer.createProfile.adress.city}}</p><br/>
                            </div>
                        </div>
                        <div class="row"><br/></div>
                        <div class="row">
                            <div class="text-center">
                                <button type="submit"
                                        ui-sref="market-offer-detail({id:marketOffer.id})"
                                        class="btn btn-primary btn-sm">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                    <span class="">Pokaż więcej</span>
                                </button>
                                <button type="button"
                                        class="btn btn-success btn-sm"
                                        ng-if="marketOffer.offerType == 'SELL' || marketOffer.offerType == 'BUY'"
                                        ng-click="vm.finalizeOffer(marketOffer.id);">
                                    <span class="glyphicon glyphicon-ok"></span>
                                    <span class="">Sfinalizuj ofertę</span>
                                </button>
                                <button type="button"
                                        ui-sref="trade-offer.new({marketOfferId: marketOffer.id})"
                                        class="btn btn-success btn-sm"
                                        ng-if="marketOffer.offerType == 'EXCHANGE'">
                                    <span class="glyphicon glyphicon-gift"></span>
                                    <span class="">Złóż ofertę wymiany</span>
                                </button>
                                <button type="button"
                                        class="btn btn-info btn-sm"
                                        ng-click="vm.sendMessage(marketOffer.createProfile.id)">
                                    <span class="glyphicon glyphicon-envelope"></span>
                                    <span class="">Wyślij wiadomość</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
