<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>Ustawienia dla [<b>{{vm.settingsAccount.login}}</b>]</h2>

            <div class="alert alert-success" ng-show="vm.success">
                <strong>Ustawienia zapisane!</strong>
            </div>

           <jhi-alert-error></jhi-alert-error>

            <form name="form" role="form" novalidate ng-submit="vm.save()" show-validation>

                <div class="form-group">
                    <label class="control-label" for="firstName">Imię</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Imię"
                           ng-model="vm.settingsAccount.firstName" ng-minlength=1 ng-maxlength=50 required maxlength="50">
                    <div ng-show="form.firstName.$dirty && form.firstName.$invalid">
                        <p class="help-block"
                               ng-show="form.firstName.$error.required">
                            Pole wymagane
                        </p>
                        <p class="help-block"
                               ng-show="form.firstName.$error.minlength">
                            Pole musi mieć więcej niż 1 znak.
                        </p>
                        <p class="help-block"
                               ng-show="form.firstName.$error.maxlength">
                            Pole nie może mieć więcej niż 50 znaków.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="lastName">Nazwisko</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Nazwisko"
                           ng-model="vm.settingsAccount.lastName" ng-minlength=1 ng-maxlength=50 required maxlength="50">
                    <div ng-show="form.lastName.$dirty && form.lastName.$invalid">
                        <p class="help-block"
                               ng-show="form.lastName.$error.required">
                            Pole wymagane.
                        </p>
                        <p class="help-block"
                               ng-show="form.lastName.$error.minlength">
                            Pole musi mieć więcej niż 1 znak.
                        </p>
                        <p class="help-block"
                               ng-show="form.lastName.$error.maxlength">
                            Pole nie może mieć więcej niż 50 znaków.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="email">E-mail</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Your e-mail"
                           ng-model="vm.settingsAccount.email" ng-minlength=5 ng-maxlength=100 required maxlength="100">
                    <div ng-show="form.email.$dirty && form.email.$invalid">
                        <p class="help-block"
                               ng-show="form.email.$error.required">
                            Pole wymagane.
                        </p>
                        <p class="help-block"
                               ng-show="form.email.$error.email">
                            Pole jest nieporawne
                        </p>
                        <p class="help-block"
                               ng-show="form.email.$error.minlength">
                            Pole musi mieć więcej niż 5 znaków.
                        </p>
                        <p class="help-block"
                               ng-show="form.email.$error.maxlength">
                            Pole nie może mieć więcej niż 100 znaków.
                        </p>
                    </div>
                </div>
                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Zapisz</button>
                <button type="submit" ui-sref="adress-settings" class="btn btn-success">Edytuj adres</button>
            </form>
        </div>
    </div>

</div>
