<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>Zmiana hasła</h2>

            <div class="alert alert-success" ng-show="vm.success">
                <strong>Hasło zmienione</strong>
            </div>
            <div class="alert alert-danger" ng-show="vm.error" >
                <strong>Wystąpił problem. </strong> Hasło nie może zostać zmienione
            </div>

            <div class="alert alert-danger" ng-show="vm.doNotMatch">
                Hasła do siebie nie pasują
            </div>

            <form name="form" role="form" novalidate ng-submit="vm.changePassword()" show-validation>

                <div class="form-group">
                    <label class="control-label" for="password">Nowe hasło</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Nowe hasło"
                           ng-model="vm.password" ng-minlength=4 ng-maxlength=50 required>
                    <div ng-show="form.password.$dirty && form.password.$invalid">
                        <p class="help-block"
                           ng-show="form.password.$error.required">
                            Pole niepoprawne.
                        </p>
                        <p class="help-block"
                           ng-show="form.password.$error.minlength">
                            Pole niepoprawne.
                        </p>
                        <p class="help-block"
                           ng-show="form.password.$error.maxlength">
                            Pole niepoprawne.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="confirmPassword">Nowe hasło - potwierdzenie</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Nowe hasło - potwierdzenie"
                           ng-model="vm.confirmPassword" ng-minlength=4 ng-maxlength=50 required>
                    <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.required">
                            Pole niepoprawne.
                        </p>
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.minlength">
                            Pole niepoprawne.
                        </p>
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.maxlength">
                            Pole niepoprawne.
                        </p>
                    </div>
                </div>

                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Zapisz</button>
            </form>
        </div>
    </div>
</div>
