
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCommentLabel">Create or edit a Comment</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.comment.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.comment.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_comment">Comment</label>
            <input type="text" class="form-control" name="comment" id="field_comment"
                    ng-model="vm.comment.comment"
                    required />
            <div ng-show="editForm.comment.$invalid">
                <p class="help-block"
                    ng-show="editForm.comment.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_rating">Rating</label>
            <select class="form-control" name="rating" ng-model="vm.comment.rating" id="field_rating" required>
                <option value="POSITIVE">POSITIVE</option>
                <option value="NEUTRAL">NEUTRAL</option>
                <option value="NEGATIVE">NEGATIVE</option>
            </select>
            <div ng-show="editForm.rating.$invalid">
                <p class="help-block"
                    ng-show="editForm.rating.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_timestamp">Timestamp</label>
                <div class="input-group">
                    <input id="field_timestamp" type="text" class="form-control" name="timestamp" datetime-picker="{{dateformat}}" ng-model="vm.comment.timestamp" is-open="vm.datePickerOpenStatus.timestamp"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('timestamp')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label for="field_authorProfile">Author Profile</label>
            <select class="form-control" id="field_authorProfile" name="authorProfile" ng-model="vm.comment.authorProfile" ng-options="gamerProfile as gamerProfile.id for gamerProfile in vm.gamerprofiles track by gamerProfile.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_marketOffer">Market Offer</label>
            <select class="form-control" id="field_marketOffer" name="marketOffer" ng-model="vm.comment.marketOffer" ng-options="marketOffer as marketOffer.id for marketOffer in vm.marketoffers track by marketOffer.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
