
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCommentLabel">Dodaj komenatarz</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.comment.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.comment.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_comment">Komentarz</label>
            <input type="text" class="form-control" name="comment" id="field_comment"
                    ng-model="vm.comment.comment"
                    required />
            <div ng-show="editForm.comment.$invalid">
                <p class="help-block"
                    ng-show="editForm.comment.$error.required">
                    Pole wymagane.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_rating">Ocena</label>
            <select class="form-control" name="rating" ng-model="vm.comment.rating" id="field_rating" required>
                <option value="POSITIVE">Pozytywny</option>
                <option value="NEUTRAL">Neutralny</option>
                <option value="NEGATIVE">Negatywny</option>
            </select>
            <div ng-show="editForm.rating.$invalid">
                <p class="help-block"
                    ng-show="editForm.rating.$error.required">
                    Pole wymagane.
                </p>
            </div>
        </div>

        <!--<div class="form-group">-->
            <!--<label for="field_marketOffer">Market Offer</label>-->
            <!--<select class="form-control" id="field_marketOffer" name="marketOffer" ng-model="vm.comment.marketOffer" ng-options="marketOffer as marketOffer.id for marketOffer in vm.marketoffers track by marketOffer.id">-->
                <!--<option value=""></option>-->
            <!--</select>-->
        <!--</div>-->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cofnij</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Zapisz</span>
        </button>
    </div>
</form>
