
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myMessageLabel">Create or edit a Message</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.message.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.message.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_text">Text</label>
            <input type="text" class="form-control" name="text" id="field_text"
                    ng-model="vm.message.text"
                    required />
            <div ng-show="editForm.text.$invalid">
                <p class="help-block"
                    ng-show="editForm.text.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group" has-authority="ROLE_ADMIN">
            <label class="control-label" for="field_sendTime">Send Time</label>
                <div class="input-group">
                    <input id="field_sendTime" type="text" class="form-control" name="sendTime" datetime-picker="{{dateformat}}" ng-model="vm.message.sendTime" is-open="vm.datePickerOpenStatus.sendTime"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('sendTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group" has-authority="ROLE_ADMIN">
            <label class="control-label" for="field_isNew">Is New</label>
            <input type="checkbox" class="form-control" name="isNew" id="field_isNew"
                    ng-model="vm.message.isNew"
                     />
        </div>

        <div class="form-group" has-authority="ROLE_ADMIN">
            <label for="field_authorProfile">Author Profile</label>
            <select class="form-control" id="field_authorProfile" name="authorProfile" ng-model="vm.message.authorProfile" ng-options="gamerProfile as gamerProfile.id for gamerProfile in vm.gamerprofiles track by gamerProfile.id">
                <option value=""></option>
            </select>
        </div>
        <!--<div class="form-group" >-->
            <!--<label for="field_conversation">Conversation</label>-->
            <!--&lt;!&ndash;<select class="form-control" id="field_conversation" name="conversation" ng-model="vm.message.conversation" ng-options="conversation as conversation.id for conversation in vm.conversations track by conversation.id">&ndash;&gt;-->
                <!--&lt;!&ndash;<option value=""></option>&ndash;&gt;-->
            <!--&lt;!&ndash;</select>&ndash;&gt;-->
            <!--&lt;!&ndash;<input class="form-control" id="field_conversation" name="conversation" ng-model="vm.message.conversation">&ndash;&gt;-->
        <!--</div>-->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
