<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>Rejestracja</h1>

            <div class="alert alert-success" ng-show="vm.success">
                <strong>Rejestracja udana!</strong> Sprawdz swojego e-mail'a.
            </div>

            <div class="alert alert-danger" ng-show="vm.error">
                <strong>Rejestracja nieudana!</strong> Spróbój poźniej.
            </div>

            <div class="alert alert-danger" ng-show="vm.errorUserExists">
                <strong>Login jest już zajęty!</strong> Spróbuj inny.
            </div>

            <div class="alert alert-danger" ng-show="vm.errorEmailExists">
                <strong>E-mail jest już używany!</strong>
            </div>

            <div class="alert alert-danger" ng-show="vm.doNotMatch">
                Hasła nie pasują do siebie.
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <form ng-show="!vm.success" name="form" role="form" novalidate ng-submit="vm.register()" show-validation>

                <div class="form-group">
                    <label class="control-label" for="login">Login</label>
                    <input type="text" class="form-control" id="login" name="login" placeholder="Login"
                           ng-model="vm.registerAccount.login" ng-minlength=1 ng-maxlength=50 ng-pattern="/^[_'.@A-Za-z0-9-]*$/" required>
                    <div ng-show="form.login.$dirty && form.login.$invalid">
                        <p class="help-block"
                               ng-show="form.login.$error.required">
                            Login jest wymagany.
                        </p>
                        <p class="help-block"
                               ng-show="form.login.$error.minlength">
                            Login musi być krótszy niż 2 znaki.
                        </p>
                        <p class="help-block"
                               ng-show="form.login.$error.maxlength">
                            Login nie może być dłuższy niż 50 znaków.
                        </p>
                        <p class="help-block"
                               ng-show="form.login.$error.pattern">
                            Login może zawierać tylko liczby i znaki.
                    </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="email">E-mail</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="E-mail"
                           ng-model="vm.registerAccount.email" ng-minlength=5 ng-maxlength=100 required>
                    <div ng-show="form.email.$dirty && form.email.$invalid">
                        <p class="help-block"
                               ng-show="form.email.$error.required">
                            Email jest wymagany.
                        </p>
                        <p class="help-block"
                               ng-show="form.email.$error.email">
                            Email jest niepoprawny.
                        </p>
                        <p class="help-block"
                               ng-show="form.email.$error.minlength">
                            Email musi posiadać więcej niż 5 znaków.
                        </p>
                        <p class="help-block"
                               ng-show="form.email.$error.maxlength">
                            Email nie może mieć więcej niż 100 znaków.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="password">Hasło</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Hasło"
                           ng-model="vm.registerAccount.password" ng-minlength=4 ng-maxlength=20 required>
                    <div ng-show="form.password.$dirty && form.password.$invalid">
                        <p class="help-block"
                               ng-show="form.password.$error.required">
                            Hasło jest wymagane.
                        </p>
                        <p class="help-block"
                               ng-show="form.password.$error.minlength">
                            Hasło musi mieć conajmniej 4 znaki.
                        </p>
                        <p class="help-block"
                               ng-show="form.password.$error.maxlength">
                            Hasło nie może mieć więcej niż 20 znaków.
                        </p>
                    </div>
                    <!--<password-strength-bar password-to-check="vm.registerAccount.password"></password-strength-bar>-->
                </div>
                <div class="form-group">
                    <label class="control-label" for="confirmPassword">Potwierdzenie hasła</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Potwierdzenie hasła"
                           ng-model="vm.confirmPassword" ng-minlength=4 ng-maxlength=20 required>
                    <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                        <p class="help-block"
                               ng-show="form.confirmPassword.$error.required">
                            Hasło jest wymagane.
                        </p>
                        <p class="help-block"
                               ng-show="form.confirmPassword.$error.minlength">
                            Hasło musi mieć conajmniej 4 znaki.
                        </p>
                        <p class="help-block"
                               ng-show="form.confirmPassword.$error.maxlength">
                            Hasło nie może mieć więcej niż 20 znaków.
                        </p>
                    </div>
                </div>

                <button type="submit" ng-disabled="form.$invalid" class="btn btn-success">Zarejestruj</button>
            </form>
        </div>
    </div>
</div>
